@import './variables';

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    .results__heading {
        font-family: $heading;
        font-size: 1.3rem;
        border-bottom: 3px solid $sage;
        color: $black;
        -webkit-text-stroke: 1px $light-orange;
    }
    .results {
        @include list-style($white, $black)
    }
}

@media screen and (max-width: 1200px) {
    .result-section {
        grid-template-areas: 2 / 3 / 2 / 3;
        width: -webkit-fill-available;

        .results {
            &__item {
                flex-direction: row;
                line-break: normal;
            }
        }
    }
}