@import './variables';

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: $text;
    display: grid;
    place-content: center;
    main {
        background-color: $yellow;
        display: grid;
        border-radius: 3rem;
        grid-template: auto auto 1fr / 1fr 1fr;
        padding: 1.5rem;
        gap: 1rem;
        
        .page__heading {
            display: grid;
            place-content: center;
            grid-area: 1 / 1 / 1 / 3;
            margin: 2rem;
            font-family: $heading;
            font-size: 3rem;
            color: $orange;
            -webkit-text-stroke: 2px $black;
        }
    }
}

@media screen and (max-width: 1440px) {
    body {
        main {
                .page__heading {
                    grid-area: 1 / 1 / 1 / 3;
                }
            }
    }
}

@media screen and (max-width: 1000px) {
    body {
        background: $sage;
        main {
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 0.5rem;
            grid-template: none;
            .page__heading{
                line-break: normal;
                grid-area: 1 / 1 / 2 / 2;
            }
        }
    }
}