@import './variables';

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
    main {
        background-color: $yellow;
        opacity: 0.8;
        max-height: 75vh;
        max-width: 60vw;
        display: grid;
            
    }
}