@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Staatliches&display=swap");
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Comfortaa", cursive;
  display: grid;
  place-content: center;
}
body main {
  background-color: #FFD56F;
  display: grid;
  border-radius: 3rem;
  grid-template: auto auto 1fr/1fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
}
body main .page__heading {
  display: grid;
  place-content: center;
  grid-area: 1/1/1/3;
  margin: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  color: #FF7B54;
  -webkit-text-stroke: 2px #111111;
}

@media screen and (max-width: 1440px) {
  body main .page__heading {
    grid-area: 1/1/1/3;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background: #803E2A;
  }
  body main {
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    grid-template: none;
  }
  body main .page__heading {
    line-break: normal;
    grid-area: 1/1/2/2;
  }
}
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-area: 2/1/3/2;
}
.input-section .inputs--container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 1rem;
}
.input-section .inputs--container .input {
  transition: 0.03s;
  padding: 1rem;
  font-family: "Comfortaa", cursive;
  border: none;
  border-radius: 1rem;
}
.input-section .inputs--container .input:hover, .input-section .inputs--container .input:focus-within {
  outline: 3px solid #FF7B54;
}
.input-section .inputs--container .input__quantity {
  max-width: 5em;
}
.input-section .button {
  transition: 0.05s;
  padding: 1rem 2rem;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  background-color: #FFB26B;
}
.input-section .button:hover {
  cursor: pointer;
  background-color: #FF7B54;
  outline: 3px solid #111111;
  font-weight: 700;
}
.input-section .button:active {
  cursor: pointer;
  background-color: #803E2A;
  outline: 3px solid #FEFEFE;
  font-weight: 700;
  color: #FEFEFE;
}

@media screen and (max-width: 1000px) {
  .input-section {
    display: grid;
    grid-area: 2/1/3/2;
  }
  .input-section .inputs--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .input-section .inputs--container .input__name {
    grid-area: 1/1/2/3;
  }
  .input-section .inputs--container .input__quantity {
    grid-area: 2/1/3/2;
    max-width: unset;
  }
  .input-section .inputs--container .inputs__select {
    grid-area: 2/2/2/3;
    display: flex;
  }
  .input-section .inputs--container .inputs__select .input__select {
    max-width: unset;
    width: 100%;
  }
}
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
.calc-section {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-area: 2/2/3/4;
}
.calc-section .radio--container {
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  grid-area: 1/1/2/2;
  /* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
}
.calc-section .radio--container input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.calc-section .radio--container input + label {
  color: #803E2A;
  margin: 0;
  padding: 1rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FEFEFE;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 100;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
.calc-section .radio--container input + label:first-of-type {
  border-radius: 1rem 0 0 1rem;
  display: grid;
  align-items: center;
}
.calc-section .radio--container input + label:last-of-type {
  border-radius: 0 1rem 1rem 0;
  display: grid;
  align-items: center;
}
.calc-section .radio--container input:hover + label {
  border-color: #FF7B54;
}
.calc-section .radio--container input:checked + label {
  color: #111111;
  background-color: #FFB26B;
  border-color: #FF7B54;
  border: none;
  z-index: 1;
  font-weight: 700;
}
@media (max-width: 800px) {
  .calc-section .radio--container input + label {
    padding: 1rem 0.25rem;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.calc-section .input {
  transition: 0.03s;
  padding: 1rem;
  font-family: "Comfortaa", cursive;
  border: none;
  border-radius: 1rem;
  width: 6rem;
}
.calc-section .input:hover, .calc-section .input:focus-within {
  outline: 3px solid #FF7B54;
}
.calc-section .factor--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1/2/2/3;
}
.calc-section .factor--container .input__factor {
  padding: calc(1rem + 1px);
  width: -webkit-fill-available;
}
.calc-section label[for=factor] {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}
.calc-section button {
  transition: 0.05s;
  padding: 1rem 2rem;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  background-color: #FFB26B;
  grid-area: 2/1/3/3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.calc-section button:hover {
  cursor: pointer;
  background-color: #FF7B54;
  outline: 3px solid #111111;
  font-weight: 700;
}
.calc-section button:active {
  cursor: pointer;
  background-color: #803E2A;
  outline: 3px solid #FEFEFE;
  font-weight: 700;
  color: #FEFEFE;
}

@media screen and (max-width: 1440px) {
  .calc-section {
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }
}
@media screen and (max-width: 1000px) {
  .calc-section {
    grid-area: 4/1/5/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .calc-section .factor--container {
    grid-area: 1/2/1/2;
    align-items: center;
  }
  .calc-section button {
    grid-area: 2/1/2/3;
  }
}
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: end;
  grid-area: 3/2/4/3;
}
.result-section .results__heading {
  font-family: "Staatliches", cursive;
  font-size: 1.3rem;
  border-bottom: 3px solid #803E2A;
  color: #111111;
  -webkit-text-stroke: 1px #FFB26B;
}
.result-section .results {
  transition: 0.05s;
  width: -webkit-fill-available;
  padding: 1rem;
  background-color: #FEFEFE;
  border-radius: 1rem;
}
.result-section .results__list {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.result-section .results__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  padding: 0 0.5rem;
}
.result-section .results__item .exclude-button {
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 1rem;
  color: #DC3535;
}
.result-section .results__item .exclude-button:hover {
  background-color: #DC3535;
  color: #FEFEFE;
  cursor: pointer;
}
.result-section .results__item .exclude-button:hover + p {
  color: #DC3535;
}
.result-section .results__list {
  line-height: 2.312rem;
}
.result-section .results__item:hover {
  outline: 2px dotted #FFB26B;
}
.result-section .results__item input {
  transform: scale(2);
}
.result-section .results__item input:checked + p {
  text-decoration: line-through;
  opacity: 0.8;
}

@media screen and (max-width: 1440px) {
  .result-section {
    grid-area: 3/2/4/3;
    width: -webkit-fill-available;
  }
  .result-section .results__item {
    line-break: normal;
  }
}
@media screen and (max-width: 1000px) {
  .result-section {
    grid-area: 5/1/6/2;
  }
}
/* credits https: //codepen.io/dsenneff/pen/ZoLVZW*/
.ingredient-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: end;
  grid-area: 3/1/4/2;
}
.ingredient-section .ingredients__heading {
  font-family: "Staatliches", cursive;
  font-size: 1.3rem;
  border-bottom: 3px solid #803E2A;
  color: #111111;
  -webkit-text-stroke: 1px #FFB26B;
}
.ingredient-section .ingredients {
  transition: 0.05s;
  width: -webkit-fill-available;
  padding: 1rem;
  background-color: #FEFEFE;
  border-radius: 1rem;
}
.ingredient-section .ingredients__list {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ingredient-section .ingredients__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #803E2A;
  padding: 0 0.5rem;
}
.ingredient-section .ingredients__item .exclude-button {
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 1rem;
  color: #DC3535;
}
.ingredient-section .ingredients__item .exclude-button:hover {
  background-color: #DC3535;
  color: #FEFEFE;
  cursor: pointer;
}
.ingredient-section .ingredients__item .exclude-button:hover + p {
  color: #DC3535;
}

@media screen and (max-width: 1000px) {
  .ingredient-section {
    grid-area: 3/1/4/2;
  }
  .ingredient-section .ingredients__item {
    line-break: normal;
  }
}/*# sourceMappingURL=style.css.map */